{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
    <div id="supporterOverview" class="accordion">
        {% if active_supporters %}
            <div class="card mb-0">
                <div class="card-header" id="headingActiveSupporter">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                data-target="#activeSupporter" aria-expanded="true" aria-controls="activeSupporter">
                            {% translate "Active Supporters" %}
                        </button>
                    </h2>
                </div>

                <div id="activeSupporter" class="collapse show" aria-labelledby="headingActiveSupporter"
                     data-parent="#supporterOverview">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {% for supporter in active_supporters %}
                                <li class="list-group-item">{{ supporter }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if inactive_supporters %}
            <div class="card mb-0">
                <div class="card-header" id="headingInactiveSupporter">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                data-target="#inactiveSupporter" aria-expanded="true" aria-controls="inactiveSupporter">
                            {% translate "Inactive Supporters" %}
                        </button>
                    </h2>
                </div>

                <div id="inactiveSupporter" class="collapse" aria-labelledby="headingInactiveSupporter"
                     data-parent="#supporterOverview">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {% for supporter in inactive_supporters %}
                                <li class="list-group-item">{{ supporter }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
