{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load theme %}

{% block scripts %}
    <script>
        localStorage.setItem("userSettingsPopoverDismissed", "true");
    </script>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">{% translate "User Settings" %}</h3>
                        </div>
                        <div class="card-body">
                            {% crispy form %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
